<div class="container pt-2">
    <div class="row">

        <div class="col-12">
            <div class="card mt-2">


                <div class="p-2 ">
                    <h3 class="text-center">Gonzalo Garcia Ariño</h3>
                </div>

                <div class="p-2 text-justify">
                    <ul>
                        <li><b>Ciudad:</b> Sineu, Islas Baleares, España.</li>
                        <li><b>Estado Civil:</b> Casado, sin hijos.</li>
                        <li><b>Telefono:</b> +34 643170984.</li>
                        <li><b>email:</b> gonzalo@hotmail.com.ar</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>